.customer {
  .boxed {
    margin-bottom: 60px;
  }
  .heading {
    max-width: 447px;
    margin-left: auto;
    margin-right: auto;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 50px;
  }
}
