.footer {
  &-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 0 126px;
  }
  &-logo {
    margin-bottom: 20px;
  }
  &-desc {
    margin-bottom: 30px;
  }
  &-heading {
    margin-bottom: 20px;
  }
  &-item {
    margin-bottom: 10px;
  }
  .social {
    display: flex;
    align-items: center;
  }
  .copyright {
    color: #afb5c0;
  }
}
