.menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 40px;
  &-link {
    color: inherit;
    text-decoration: none;
  }
  &-toggle {
    display: none;
    width: 50px;
    grid-template: 5px 0;
    span {
      width: 100%;
      height: 5px 0;
      background-color: $heading-color;
      display: block;
    }
  }
}

@media screen and (max-width: 1023.98px) {
  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    z-index: 99;
    border-left: 1px solid $gray-lighter-color;
    flex-direction: column;
    gap: 10px 0;
    padding-top: 60px;
    align-items: stretch;
    transform: translateX(100%);
    will-change: transform;
    transition: all 0.2s linear;
    tran &.is-show {
      transform: translateX(0);
    }
  }
  .menu-link {
    display: block;
    width: 100%;
    padding: 20px;
  }
  .menu-toggle {
    display: inline-block;
  }
}
